export KEY_COUNTRY="{{ key_country }}"
export KEY_PROVINCE="{{ key_province }}"
export KEY_CITY="{{ key_city }}"
export KEY_ORG="{{ key_org }}"
export KEY_EMAIL="{{ key_email }}"
export KEY_CN="{{ key_cn }}"
export KEY_NAME="{{ key_name }}"
export KEY_OU="{{ key_ou }}"
